

.welcome-container {
    background-image: url('../assets/images/sgbg.jpg');
    background-size: cover; /* Adjust this based on your design preferences */
    background-position: center;
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Set text color to contrast with the background */
  }
 

