

<div class="wrapper">
<!-- Add these lines to include Bootstrap CSS and JS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>




<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar" [ngClass]="{'active': isSidebarActive}">
    <div class="sidebar-header">
      <h3>Rapid Tag Scan</h3>
    </div>

    <ul class="list-unstyled components">
      <p>User Details Here</p>
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a routerLink="scannerCreation">Scanner Creation</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/siteCreation">Site Creation</a>
      </li>
      <!-- <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Zone</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li> -->

      <li>
        <a routerLink="/zoneCreation">Zone</a>
      </li>

      <li>
        <a routerLink="/scannerCreation">Scanner</a>
      </li>
      <li>
        <a routerLink="/fastTag">Fast Tag</a>
      </li>
      <li>
        <a routerLink="/vehicalDetails">Vehical Details</a>
      </li>
      <li>
        <a routerLink="/vehicalTracker">Vehical Tracker</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <!-- <li>
        <a href="#" class="download">@CopyRights</a>
      </li>
      <li>
        <a href="#" class="article">2023</a>
      </li> -->
    </ul>
  </nav>

  <!-- Page Content -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggleSidebar()">
          <i class="fas fa-align-left"></i>
          <span></span>
        </button>

        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         
        </div>
      </div>
    </nav>

   

    <!-- More content goes here -->
    <router-outlet></router-outlet>
  </div>
</div>
</div>

